
@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,
select,
textarea {
  outline: none;
  padding: 0.7rem;
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid #c7c7c7;
}

textarea {
  min-height: 150px;
}

input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus {
  border-color: #cbf6dc !important;
}

button {
  overflow: hidden;
  border-radius: 7px;
  border-width: 1px;
  text-align: center;
  position: relative;
  width: fit-content;
  align-items: center;
  border-style: solid;
  height: fit-content;
  display: inline-flex;
  text-decoration: none;
  vertical-align: bottom;
  padding: 10px 20px 10px 20px;
  color: white;
  border-color: #55ca7c;
  background-color: #55ca7c;
  margin: 10px;
  cursor: pointer;
  min-height: 40px;
  margin-left: 0px
}

button.textonly {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: #55ca7c;
  margin-top: 10px;
  font-weight: bold;
  outline: none !important;
  border-color: transparent;
  background-color: transparent;
}

input:active,
input:focus,
button:focus,
select:active,
select:focus,
textarea:active,
textarea:focus {
  box-shadow: 0 0 0 2px #cbf6dc;
  -moz-box-shadow: 0 0 0 2px #cbf6dc;
  -webkit-box-shadow: 0 0 0 2px #cbf6dc;
}

button>i {
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: #8a285c;
}

a:hover {
  text-decoration: underline;
}

/* Custom Classes */

.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: fit-content;
  position: relative;
}

.form-group>label {
  overflow: scroll;
  margin-bottom: 5px;
  white-space: nowrap;
}

.form-group.iconed>i {
  top: 30%;
  position: absolute;
  right: 20px;
  color: #c7c7c7;
}

.form-group.iconed>input {
  padding-right: 30%;
}

.error {
  margin-left: 5px;
  color: red;
  margin-top: 10px;
}

.display-flex-c {
  display: flex;
  flex-direction: column;
}

.inactive {
  pointer-events: none;
  opacity: 0.4;
}

#root {
  height: 100vh;
}

.products {
  height: 100%;
  display: flex;
}

.sidebar {
  width: 25%;
  padding-left: 60px;
  padding-top: 60px;
  max-width: 300px;
  min-width: 250px;
  background-color: #edfcf3;
}

.sidebar>.title {
  color: #55ca7c;
  font-weight: bold;
  font-size: 20px;
}

.sidebar>.menu {
  margin-top: 80px;
  font-size: 17px;
}

.sidebar>.menu>li {
  margin-top: 10px;
  list-style-type: none;
  cursor: pointer;
}

.sidebar>.menu>.active {
  color: #55ca7c;
  font-weight: bold;
  list-style-type: circle;
}

.main-view {
  width: 80%;
  padding: 20px;
  overflow: auto;
  padding-bottom: 20px;
}

.main-view>.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-view>.top-bar>.control {
  display: flex;
  align-items: center;
}

.main-view>.top-bar>.control > i {
  margin-left: 20px;
  color: #55ca7c;
  cursor: pointer;
}

.main-view>.top-bar>.control > div {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #c7c7c7;
}

.main-view>.title {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 10px;
  font-weight: bold;
}

.products-listing {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-bottom: 30px;
}

.product {
  margin: 15px;
  width: 300px;
  display: flex;
  position: relative;
  border-radius: 20px;
  flex-direction: column;
  background-color: #edfcf3;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product>img {
  height: 70%;
}

.product>.info {
  padding: 20px;
  position: relative;
}

.product>.info>.price {
  top: -20px;
  left: 20px;
  color: white;
  padding: 10px;
  position: absolute;
  width: fit-content;
  border-radius: 7px;
  background-color: #55ca7c;
}

.product>.info>.name {
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
}

.product>.info>.desc {
  margin-top: 5px;
}


.dialog {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(66, 68, 67, 0.5);
}

.dialog > .content {
  padding: 20px;
  overflow: auto;
  max-width: 60%;
  max-height: 80vh;
  border-radius: 10px;
  background-color: white;
}

.dialog > .content>.title {
  font-size: 17px;
  font-weight: bold;
}

.items {
  display: flex;
  flex-direction: column;
}

.items>.item {
  display: flex;
  align-items: center;
}

.items>.item>img {
  width: 80px;
  height: 90px;
  margin: 20px;
}

.items>.item>.info {
  display: flex;
  flex-direction: column;
}

.items>.item>.info>.name {
  font-size: 19px;
  font-weight: bold;
}

.items>.item>.info>.desc {
  margin-top: 10px;
}

.counter {
  margin-top: 10px;
}

.counter > i {
  padding: 6px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 100px;
  background-color: rgb(213, 211, 211);
}

.counter > span {
  margin-left: 10px;
  margin-right: 10px;
}

.items>.item>.sub-total {
  display: flex;
  margin-top: 10px;
  align-self: baseline;
  flex-direction: column;
}

.items>.item>.sub-total>.price {
  font-size: 17px;
  font-weight: bold;
}

.items>.item>.sub-total>.remove {
  color: red;
  font-size: 12px;
  margin-top: 3px;
  cursor: pointer;
}

.items>.item>.sub-total>.remove:hover {
  text-decoration: underline;
}

.items>.sub-total {
  align-self: flex-end;
  width: fit-content;
}

.items>.sub-total>div {
  display: flex;
  flex-direction: column;
}

.items>.sub-total>div>.total {
  font-size: 20px;
  margin-top: 5px;
  font-weight: bold;
  margin-bottom: 10px;
}

